accelerate==0.33.0
av==12.3.0
dashscope==1.20.4
decord==0.6.0
fastchat==0.1.0
flash_attn==2.6.3
gradio==4.42.0
huggingface_hub==0.24.6
lmdeploy==0.5.3
matplotlib==3.9.2
model==0.6.0
numpy==1.25.2
omegaconf==2.3.0
packaging==24.1
pandas==2.2.2
peft==0.11.1
Pillow==10.4.0
portalocker==2.10.1
protobuf==5.27.3
PyJWT==2.9.0
python-dotenv==1.0.1
pytorch_sphinx_theme==0.0.19
Requests==2.32.3
rich==13.7.1
sat==0.7.0
setuptools==72.1.0
Sphinx==8.0.2
sty==1.0.6
tabulate==0.9.0
tiktoken==0.7.0
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.5
transformers==4.39.0
validators==0.33.0
vertexai==1.63.0
xtuner==0.1.23
